<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Items</h1>
    {% if items %}
    <ul role="list">
        {% for item in items %}
        <li role="listitem">
            <strong>{{ item.name }}</strong> - ${{ item.price }}
            <p>{{ item.description }}</p>
        </li>
        {% endfor %}
    </ul>

    <!-- Navegación de Paginación -->
    <div>
        <span>
            {% if items.has_previous %}
            <a href="?page=1">Primera</a>
            <a href="?page={{ items.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ items.number }} de {{ items.paginator.num_pages }}
            </span>

            {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">Siguiente</a>
            <a href="?page={{ items.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <p>No hay elementos disponibles.</p>
    {% endif %}

    <div>
        <h2>Example Image</h2>
    </div>
</body>

</html>